/*
@font-face {
    font-family: 'poppins-bold';
    src: url('../../node_modules/wfk-poppins/fonts/poppins-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-light';
    src: url('../../node_modules/wfk-poppins/fonts/poppins-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-medium';
    src: url('../../node_modules/wfk-poppins/fonts/poppins-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'poppins-regular';
    src: url('../../node_modules/wfk-poppins/fonts/poppins-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'poppins-semi-bold';
    src: url('../../node_modules/wfk-poppins/fonts/poppins-semi-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/